.highlight {
    background-color: yellow;
}

.error {
    background-color: lightcoral;
    border: red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}